**1-Write a Python program to calculate the length of a string using 2 ways

In [79]:
#1st way 
name = "leminho"
len(name)

7

In [80]:
#2nd way 
name = "leminho"
print(name.index(name[-1])+1)

7

**2-Write a Python program to get a string made of the first 2 and last 2 characters of a given string. If the string length is less than 2, return the empty string instead ("##Sample String : 'w3resource'
Expected Result : 'w3ce'
##Sample String : 'w3'
Expected Result : 'w3w3'
##Sample String : ' w'
Expected Result : Empty String)

In [81]:
str_word = ['w3resource','w3w3','w']
length = len(str_word)
for i in range(length):
    if len(str_word[i])>2:
        str_concatination = str_word[i][0:2] + str_word[i][-2:]
        print(str_concatination)
    else :
        print('',"<< empty string ")

w3ce
w3w3
 << empty string

**3-Write a Python program to add 'ing' at the end of a given string (length should be at least 3). If the given string already ends with 'ing', add 'ly' instead. If the string length of the given string is less than 3, leave it unchanged. (Sample String : 'abc'
Expected Result : 'abcing')

In [85]:
input_str = input("please write here")
leng = len(input_str)
print(leng)
if (leng>=3):
    if input_str[-3:] == 'ing':
        result = ''.join([input_str,'ly'])
    else:
        result = ''.join([input_str,'ing'])
else :
    result = input_str
        
print(result)

7
playingly

**4-Write a Python function that takes a list of words and return the longest word and the length of the longest one
(Longest word: Exercises
Length of the longest word: 9)

In [83]:
def longest_word(L):
    len_word = 0
    index = 0
    for i in range (len(L)):
        if (len_word < len(L[i])):
            len_word = len(L[i])
            index = i 
    long_word = L[index]
    return long_word, len_word

list0 = ['here','we','practice','our','Exercises']
longest_word(list0)

('Exercises', 9)

**5-Write a Python program to change a given string to a newly string where the first and last chars have been exchanged using 2 ways (Sample String:abce Expected Result:ebca)

In [87]:
# first method 
samp_list = list(input("please enter the sample"))
samp_list[-1], samp_list[0] = samp_list[0] , samp_list[-1]
samp_out = ''.join(samp_list)
print(samp_out)

ebca

In [ ]:
# second method
def swap(str):
    return (str[-1] + str[1:-1] + str [0] )
in_str = input("please input string")
swap(in_str)

please input string abce

'ebca'

**6-Write a Python program to remove characters that have odd index values in a given string (Sample String:abca Expected Result:ac)

In [ ]:
str = "abce"
result = ''
for i in range(len(str)):
    if (i%2) == 0:
        result += str[i]
print(result)

ac

**7-Write a Python program to count the occurrences of each word in a given sentence (Sample String:amr and ahmed are frindes but amr is the tallest Expected Result:2)

In [ ]:
str_in = "amr and ahmed are frindes but amr is the tallest"
list_in = str_in.split()
for i in range(len(list_in)):
    count_n = list_in.count(list_in[i])
    print(f"{i} word occurance num = ", count_n)

0 word occurance num =  2
1 word occurance num =  1
2 word occurance num =  1
3 word occurance num =  1
4 word occurance num =  1
5 word occurance num =  1
6 word occurance num =  2
7 word occurance num =  1
8 word occurance num =  1
9 word occurance num =  1

**8-Write a Python script that takes input from the user and displays that input back in upper and lower cases

In [ ]:
str_in0 = input("please input string")
print(str_in0.upper(),'\n',str_in0.lower())

please input string who is HERE?

WHO IS HERE?
 who is here?

**9-Write a Python function to reverse a string if its length is a multiple of 4

In [ ]:
def reverse_mult4(strin):
    if (len(strIN) % 4) == 0:
        res = strIN[::-1]
    else :
        res = strIN
    return print(res)
strIN = input("please input string")
reverse_mult4(strIN)

please input string hell

lleh

**10- Write a Python program to remove a newline in Python

In [ ]:
greeting = "hello and hi not ciao\n"
gre_res = greeting.strip()
print(gre_res)

hello and hi not ciao

**11-Write a Python program to check whether a string starts with specified characters

In [ ]:
introduce = "hi my name is joe and i am ballerina"
check_chrs = input("please input check characters")
if introduce[0:len(check_chrs)] == check_chrs:
    print("True the string start with", check_chrs)
else :
    print("False the string does not start with XXXX",check_chrs)

please input check characters hello

False the string does not start with XXXX hello

**12- Write a Python program to add prefix text to all of the lines in a string

In [ ]:
story = "Once upon a time there was a dear little girl, who was loved by every one who looked at her, but most of all by her grandmother, and there was nothing that she would not have given to the child., Once she gave her a little cap of red velvet, which suited her so well ,that she would never wear anything else., So she was always called Little Red Riding Hood."
story_line_list = story.split(",")

for line in range(len(story_line_list)):
    story_line_list[line] = "**" + story_line_list[line] + '\n'
    #print(story_line_list[line])
print(''.join(story_line_list))

**Once upon a time there was a dear little girl
** who was loved by every one who looked at her
** but most of all by her grandmother
** and there was nothing that she would not have given to the child.
** Once she gave her a little cap of red velvet
** which suited her so well
**that she would never wear anything else.
** So she was always called Little Red Riding Hood.

**13-Write a Python program to print the following numbers up to 2 decimal places

In [ ]:
NUM_list = [552.0334, 45, 0.1154 , 55.25 , 0.0666 , 1.5]
for i in range(len(NUM_list)):
    NUM_list[i] = round(NUM_list[i],2)
    print(NUM_list[i])
#print(NUM_list)

552.03
45
0.12
55.25
0.07
1.5

**14-Write a Python program to print the following numbers up to 2 decimal places with a sign

In [ ]:
NUM_list = [552.0334, - 45, 0.1154 , - 55.25 , - 0.0666 , 1.5]
for i in range(len(NUM_list)):
    NUM_list[i] = round(NUM_list[i],2)
    if NUM_list[i] > 0 :
        print('+' , NUM_list[i])
    else :
        print(NUM_list[i])
#print(NUM_list)

+ 552.03
-45
+ 0.12
-55.25
-0.07
+ 1.5

**15-Write a Python program to display a number with a comma separator

In [ ]:
num = int(input("please enter num"))
print(f"{num:,}")

please enter num 1000

1,000

**16-Write a Python program to reverse a string using 2 ways

In [ ]:
#method 1 
strinput = input("please input string")
print(strinput[::-1])

please input string hello any body here !

! ereh ydob yna olleh

In [ ]:
#method 1 
strinput = input("please input string")
print(strinput[::-1])

please input string hello any body here !

! ereh ydob yna olleh

In [ ]:
#method 2
strinput = input("please input string : ")
print(''.join(reversed(strinput))) # reverse output is a list

please input string :  hello from the other world

dlrow rehto eht morf olleh

 **17-Write a Python program to count repeated characters in a string (hint:use dictionary)

In [ ]:
s = " strory: once upon a time a bear climed a tree in the forest with his mother bear, the tree and the bear story"
s_list = s.split()
dict = {}
for i in range(len(s_list)):
    occu_num = s_list.count(s_list[i]) 
    dict[s_list[i]] = occu_num
dict

{'strory:': 1,
 'once': 1,
 'upon': 1,
 'a': 3,
 'time': 1,
 'bear': 2,
 'climed': 1,
 'tree': 2,
 'in': 1,
 'the': 3,
 'forest': 1,
 'with': 1,
 'his': 1,
 'mother': 1,
 'bear,': 1,
 'and': 1,
 'story': 1}

**18-Write a Python program to find the first non-repeating character in a given string

In [ ]:
str00 = "onw upon a time there was a rappit family"
str00_list = list(str00)
for i in range(len(str00_list)):
    count_num = str00_list.count(str00_list[i])
    if count_num == 1 :
        print(str00_list[i])
        break

u

**19-Write a Python program to remove spaces from a given string

In [89]:
str= "once upon a time there was a rappit family"
print(str.replace(" ", ""))
# print(''.join(str.split())) ## other method

onceuponatimetherewasarappitfamily

**20-Write a Python program to count the number of non-empty substrings of a given string

In [ ]:
str_list = str.split()
for i in range(len(str_list)):
    counter = str_list.count(str_list[i])
    print(counter)

1
1
2
1
1
1
2
1
1

**21-write a Python program to swap first and last element of any list.

In [ ]:
list_Bswap = ['ramdan', 2024 , 'kareem' , 'march', 10]
list_Bswap[0], list_Bswap[-1] = list_Bswap[-1],list_Bswap[0]
print(list_Bswap)

[10, 2024, 'kareem', 'march', 'ramdan']

**22-Given a list in Python and provided the positions of the elements, write a program to swap the two elements in the list. (Input : List = [23, 65, 19, 90], pos1 = 1, pos2 = 3
Output : [19, 65, 23, 90])

In [ ]:
List = [23,65,19,90]
pos1 = 1
pos2 = 3
List[pos1-1], List[pos2-1] = List[pos2-1],List[pos1-1]
print(List)

[19, 65, 23, 90]

**23- search for the all ways to know the length of the list

# method 1
len(list)
# method 2
length = reduce(lambda x, y: x + 1, my_list, 0)
# method 3 
length = sum([1 for _ in my_list]) # list comprenhension 
# method 4
Using for loop method (naive method)
# method 5
Using the length_hint() function.
# method 6
Using __len__() special function.
# method 7
Using the NumPy library. >>> np.size(list)
# method 8 
list_len = sum(1 for i in test_list)
# method 9 
recurcive function 
# method 10
Enumerate func  >>> for i, a in enumerate(list1):

**24-write a Python code to find the Maximum number of list of numbers.

In [ ]:
numbers = [1 , 50 , 66 , 78]
print(max(numbers))

78

**25-write a Python code to find the Minimum number of list of numbers.

In [ ]:
print(min(numbers))

1

**26-search for if an elem is existing in list

In [ ]:
num_str = [5 , 6 , 88, 787, 1000, 101, 0]
IN = int(input ("please enter search elem"))
if IN in num_str:
    print("True it exists in the list")
else :
    print("False, it doesn't exist in the list ")

False, it doesn't exist in the list

**27- clear python list using different ways

In [ ]:
# method 1 >> using clear 
fruits = ['apple', 'grapes', 'grapes', 'banana', 'guava', 'grapes', 'banana']
fruits.clear()
print(fruits)

[]

In [ ]:
# method 2  >> reinitialzing list
fruits = ['apple', 'grapes', 'grapes', 'banana', 'guava', 'grapes', 'banana']
fruits = []
print(fruits)

[]

In [ ]:
#method 3 >> using delete
fruits = ['apple', 'grapes', 'grapes', 'banana', 'guava', 'grapes', 'banana']
del fruits [ : ]
print(fruits)

[]

In [ ]:
#method 4 >> using *0
fruits = ['apple', 'grapes', 'grapes', 'banana', 'guava', 'grapes', 'banana']
fruits*=0
print(fruits)

[]

In [ ]:
# method 5 >> using pop
fruits = ['apple', 'grapes', 'grapes', 'banana', 'guava', 'grapes', 'banana']
while(len(fruits) != 0):
    fruits.pop()
print(fruits)

[]

In [ ]:
# method 6 >> using slicing 
fruits = ['apple', 'grapes', 'grapes', 'banana', 'guava', 'grapes', 'banana']
fruits = fruits[:0]
print(fruits)

[]

**28-remove duplicated elements from a list

In [ ]:
my_list = ['a', 'h', 'a', 'x', 'z', 'h']
my_list = list(dict.fromkeys(my_list))
print(my_list)

['a', 'h', 'x', 'z']

**29-Given list values and keys list, convert these values to key value pairs in form of list of dictionaries. (Input : test_list = [“Gfg”, 3, “is”, 8], key_list = [“name”, “id”]
Output : [{‘name’: ‘Gfg’, ‘id’: 3}, {‘name’: ‘is’, ‘id’: 8}])

In [ ]:
test_list = ["Gfg", 3, "is", 8]
key_list = ["name", "id"]
mydict0= {}
mydict1= {}
def list_dict_conver(list_in_keys,list_in_values):
    dict0 = {}
    for i in range(len(list_in_values)):
        for j in range (len(list_in_keys)):
            dict0[list_in_keys[j]]= list_in_values[j]
    
    return dict0 
mydict0 = list_dict_conver(key_list,test_list[0:2])
mydict1 = list_dict_conver(key_list,test_list[2:])

print(mydict0)
print(mydict1)

{'name': 'Gfg', 'id': 3}
{'name': 'is', 'id': 8}

**30-write a python program to count unique values inside a list using different ways

In [ ]:
#method 1 
input_List = [1, 2, 2, 5, 8, 4, 4, 8]
unique_count = len(set(input_List))
print("unique values count = ",unique_count)
#method 2 
L1 = []
counter0 = 0
for item in (input_List):
    if item not in L1:
        counter0 += 1
        L1.append(item)
print("No of unique items are:", counter0)
#method 3 
from collections import Counter
items = Counter(input_List).keys() # counter gets the keys of the list not duplicated, the values are random from the list
print("No of unique items in the list are:", len(items))

unique values count =  5
No of unique items are: 5
No of unique items in the list are: 5

**31-write a python program Extract all elements with Frequency greater than K (Input : test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8], K = 3 
Output : [4, 3] )

In [ ]:
test_list = [4, 6, 4, 3, 3, 4, 3, 4, 3, 8]
K = 3
output = []
for item in (test_list):
    if test_list.count(item) >=K:
        output.append(item)
print(list(set(output)))

[3, 4]

**32-write a python program to find the Strongest Neighbour (Input: 1 2 2 3 4 5
Output: 2 2 3 4 5)

In [ ]:
in_arr = [1,2,2,3,4,5]
arr = []
for i in range(len(in_arr)-1):
    if in_arr[i] > in_arr[i+1]:
        arr.append(in_arr[i])
    else : 
        arr.append(in_arr[i+1])
arr

[2, 2, 3, 4, 5]

**33-write a Python Program to print all Possible Combinations from the three Digits (Input: [1, 2, 3]
Output:
1 2 3 ##
1 3 2 ##
2 1 3 ##
2 3 1 ##
3 1 2 ##
3 2 1)

In [ ]:
I = [1 , 2 , 3]
length = len(I)
for i in range (length):
    for j in range (length):
        for k in range(length):
            if i!= j and j!=k and i!= k:
                print(I[i],I[j],I[k])

1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

**34-write a Python program to find all the Combinations in the list with the given condition (Input: test_list = [1,2,3] 
Output: 
 [1], [1, 2], [1, 2, 3], [1, 3]
 [2], [2, 3], [3])

In [ ]:
I = [1 , 2 , 3]
length = len(I)
from itertools import combinations
for i in range(1,length+1):
    out = (list(combinations(I, i)))
    print(out)

[(1,), (2,), (3,)]
[(1, 2), (1, 3), (2, 3)]
[(1, 2, 3)]

**35-write a Python program to get all unique combinations of two Lists (List_1 = ["a","b"]
List_2 = [1,2]
Unique_combination = [[('a',1),('b',2)],[('a',2),('b',1)]] )

In [ ]:
list_1 = ["a", "b"]
list_2 = [1, 2]
unique_comb = []
for i in range (len(list_1)):
    for j in range (len(list_2)):
        unique_comb.append((list_1[i] ,list_2[j]))
print(unique_comb)

[('a', 1), ('a', 2), ('b', 1), ('b', 2)]

**36-Remove all the occurrences of an element from a list in Python (Input : 1 1 2 3 4 5 1 2 1 

**Output : 2 3 4 5 2)

In [ ]:
num_input = input("please enter numbers: ")
num_input = list(num_input.replace(" ", ""))
print(num_input)
element_to_remove = input("please enter element to remove")
num_input = [i for i in num_input if (i != element_to_remove)] # list comprehension 
print(num_input)
#for i in range(len(num_input)):

['1', '1', '2', '3', '4', '5', '1', '2', '1']
['2', '3', '4', '5', '2']

**37-write a python program to Replace index elements with elements in Other List (The original list 1 is : [‘Gfg’, ‘is’, ‘best’] The original list 2 is : [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0] The lists after index elements replacements is : [‘Gfg’, ‘is’, ‘best’, ‘is’, ‘Gfg’, ‘Gfg’, ‘Gfg’, ‘best’, ‘is’, ‘is’, ‘best’, ‘Gfg’])

In [ ]:
orglist1 = ['Gfg', 'is', 'best']
orglist2 = [0, 1, 2, 1, 0, 0, 0, 2, 1, 1, 2, 0]
for i,element in enumerate(orglist2):
    orglist2[i] = orglist1[element]
print(orglist2)

['Gfg', 'is', 'best', 'is', 'Gfg', 'Gfg', 'Gfg', 'best', 'is', 'is', 'best', 'Gfg']

**38- write python program to Retain records with N occurrences of K(Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 2 
Output : [(4, 5, 5, 4)]
Input : test_list = [(4, 5, 5, 4), (5, 4, 3)], K = 5, N = 3 
Output : [] )

In [ ]:
test_list = [(4, 5, 5, 4), (5, 4, 3)]
K = 5
N = 2
#K = 5, N = 3
L = len(test_list) 
for i in range(L):
    if test_list[i].count(K) == N :
        print(test_list[i])

(4, 5, 5, 4)

**39-write a Python Program to Sort the list according to the column using lambda
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Output :
Sorted array specific to column 0, [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
Sorted array specific to column 1, [[2, 1, 2], [3, 2, 1], [1, 3, 3]]
Sorted array specific to column 2, [[3, 2, 1], [2, 1, 2], [1, 3, 3]]

In [ ]:
array = [[1, 3, 3], [2, 1, 2], [3, 2, 1]]
def sort_by_col(array,colnum):
    arr_len = len(array)
    for i in range (arr_len):
        for j in range(len(array[i])):
            if j == colnum and (i+1)!=arr_len:
                if array[i][j] > array[i+1][j]:
                    array[i],array[i+1] = array[i+1],array[i]
    return print(array)

for i in range (3):
    sort_by_col(array,i)

[[1, 3, 3], [2, 1, 2], [3, 2, 1]]
[[2, 1, 2], [3, 2, 1], [1, 3, 3]]
[[3, 2, 1], [2, 1, 2], [1, 3, 3]]

**40- write a program to Sort Python Dictionaries by Key or Value
Input:
{'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
Output: 
{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

In [ ]:
name_age = {'ravi': 10, 'rajnish': 9, 'sanjeev': 15, 'yash': 2, 'suraj': 32}
key_value_select = input("please enter key or value to sort by: ")
if key_value_select == 'key':
    sorted_name_age_list_byKey= sorted(name_age.items())
    sorted_dict = {}
    for key,value in sorted_name_age_list_byKey:
        sorted_dict[key] = value 
    print(sorted_dict)
elif key_value_select == 'value':
    sorted_name_age_byValue= sorted(name_age.items(), key=lambda x:x[1])
    print(sorted_name_age_byValue)

{'rajnish': 9, 'ravi': 10, 'sanjeev': 15, 'suraj': 32, 'yash': 2}

**41-write python program to Remove keys with Values Greater than K ( Including mixed values )
nput : test_dict = {‘Gfg’ : 3, ‘is’ : 7, ‘best’ : 10, ‘for’ : 6, ‘geeks’ : ‘CS’},
K = 7 
Output : {‘Gfg’ : 3, ‘for’ : 6, ‘geeks’ : ‘CS’}

In [ ]:
test_dict = {"Gfg" : 3, "is" : 7, "best" : 10, "for" : 6, "geeks" : "CS"}
K = 7 
out_dict = {}
for key in (test_dict):
        if isinstance(test_dict[key],int):
            if test_dict[key] < K:
                out_dict[key] = test_dict[key]
        else : 
             out_dict[key] = test_dict[key]
print(test_dict)
print(out_dict)

{'Gfg': 3, 'is': 7, 'best': 10, 'for': 6, 'geeks': 'CS'}
{'Gfg': 3, 'for': 6, 'geeks': 'CS'}

**42-Write a Python program to concatenate the following dictionaries to create a new one

Sample Dictionary :
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
Expected Result : {1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

In [ ]:
dic1={1:10, 2:20}
dic2={3:30, 4:40}
dic3={5:50,6:60}
#################
dall = dict(dic1)
dall.update(dic2)
dall.update(dic3)
print(dall)

{1: 10, 2: 20, 3: 30, 4: 40, 5: 50, 6: 60}

**43-Write a Python program to iterate over dictionaries using for loops

In [ ]:
d = {'x': 1, 'y': 2, 'z': 3} 
for key, value in d.items():
#for key, value in enumerate(d.items()):
    print("key = ",key,":", "value = ",value )

key =  x : value =  1
key =  y : value =  2
key =  z : value =  3

**44- Write a Python script to merge two Python dictionaries

In [ ]:
def merge(d1,d2):
    res = d1 | d2 
    return res
dict1 = {'x': 10, 'y': 8} 
dict2 = {'a': 6, 'b': 4} 
dictall = merge(dict1,dict2)
print(dictall)

{'x': 10, 'y': 8, 'a': 6, 'b': 4}

**45-Write a Python program to get the maximum and minimum values of a dictionary values

In [ ]:
dic = {'x': 10, 'y': 8, 'a': 6, 'b': 4}
val = dic.values()
print("maximum = ", max(val) ,"minimum = ", min(val))

maximum =  10 minimum = 4

**46- Write a Python program to drop empty items from a given dictionary.
Original Dictionary:
{'c1': 'Red', 'c2': 'Green', 'c3': None}
New Dictionary after dropping empty items:
{'c1': 'Red', 'c2': 'Green'}

In [ ]:
org_dict = {'c1': 'Red', 'c2': 'Green', 'c3': None}
new_dict = {}
for key,value in org_dict.items():
    if value != None :
        new_dict[key] = value
print(new_dict)

{'c1': 'Red', 'c2': 'Green'}

**47-Write a Python program to create a tuple of numbers and print one item

In [ ]:
list_tmp = []
for i in range(5):
    List_item = int(input("please enter numbers "))
    list_tmp.append(List_item)

tupl = tuple(list_tmp)
print(tupl)
num_to_print =int(input("please enter num to print"))
print("selected tuple item = ",tupl[num_to_print])

(55, 8, 9, 774, 10)
selected tuple item =  9

**48-Write a Python program to unpack a tuple into several variables

In [ ]:
tupTOunpack = (11, 2 , 'h', 6 , 8 , 'k')
for k in range(len(tupTOunpack)):
    exec(f'cat_{k} = tupTOunpack[k]')
    exec(f'print(cat_{k})')

11
2
h
6
8
k

**49-Write a Python program to add an item to a tuple

In [ ]:
tupTOunpack = (11, 2 , 'h', 6 , 8 , 'k')
item0 = 10
lis = [item0]
tupall = tupTOunpack + tuple(lis)
print(tupall)

(11, 2, 'h', 6, 8, 'k', 10)

**50-Write a Python program to convert a tuple to a string

In [ ]:
myTuple = ('here','we', 'go', '!!')
my_list = [i for i in myTuple]
str00 = " ".join( my_list)
print(str00)

here we go !!

**51-Write a Python program to convert a list to a tuple

In [ ]:
myList = [1 , 5 , 4 , 2, 8]
tup = tuple(myList)
print(tup)

(1, 5, 4, 2, 8)

**52-Write a Python program to reverse a tuple

In [ ]:
tup = (2, 4, 5, 7, 8, 10)
lis00 = [i for i in tup]
lis_reverse= lis00.reverse()
print("tuple before reverse = ", tup)
print("tuple after reverse  =",tuple(lis00))

tuple before reverse =  (2, 4, 5, 7, 8, 10)
tuple after reverse  = (10, 8, 7, 5, 4, 2)

**53-Write a Python program to replace the last value of tuples in a list.
Sample list: [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
Expected Output: [(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
sample_list= [(10, 20, 40), (40, 50, 60), (70, 80, 90)]
length = len(sample_list)
lisTMP = tuple()
lis0T = tuple()
lis1T = tuple()
lis2T = tuple()
listall = []
val = 100
tupall = ()
#tupl0 ,tupl1 ,tupl2 = zip(*sample_list)
#print(tupl0 ,tupl1 ,tupl2)
for i in range(length):
    for j in range (len(sample_list[i])):
        if (j+1)%3 == 0:
            lisTMP = lisTMP +  (val,)                ###### concatenate a tuple with one element >>> (value,) سبحان الله
        else:
            x = (sample_list[i][j],) 
            lisTMP = lisTMP + x
    listall.append(lisTMP)
    lisTMP = ()
print(listall)

[(10, 20, 100), (40, 50, 100), (70, 80, 100)]

In [ ]:
from itertools import islice
L = [(1,2),(2,3),(4,5),(3,4),(6,7),(6,7),(3,8)]

res = next(islice(zip(*L), 1, None))
print(res)

(2, 3, 5, 4, 7, 7, 8)

**54-Write a Python program to convert a given string list to a tuple
Original string: python 3.0
<class 'str'>
Convert the said string to a tuple:
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

In [ ]:
string0 = "python 3.0"
print(type(string0))
listOFstring0 = tuple(string0.replace(' ',''))
print(listOFstring0)

<class 'str'>
('p', 'y', 't', 'h', 'o', 'n', '3', '.', '0')

**55-Write a Python program to calculate the average value of the numbers in a given tuple of tuples

In [ ]:
mytuple = ((20, 40), (18, 19),(20, 60),(80, 100))
avr_tupl = tuple()
length = len(mytuple) 
lenSEC = len(mytuple[0])
sum = 0 
avrg = 0.0
for i in range(length):
    for j in range(lenSEC):
        sum  = sum +mytuple[i][j] 
    avrg = (sum)/ lenSEC
    avr_tupl = avr_tupl + (avrg,)
    sum = 0
print(avr_tupl)

(30.0, 18.5, 40.0, 90.0)

**56-Write a Python program to add member(s) to a set.

In [ ]:
thisset = {"apple", "banana", "cherry"}
tropical = {"pineapple", "mango", "papaya"}
thisset.add('orange')
thisset.update(tropical)
print(thisset)

{'apple', 'pineapple', 'papaya', 'mango', 'orange', 'cherry', 'banana'}

**57-Write a Python program to remove an item from a set if it is present in the set.

In [ ]:
fruits = {"apple", "banana", "cherry","pineapple", "mango", "papaya"}
item = "apple" #"guava"
for i in range(len(fruits)):
    if item in fruits:
        fruits.remove(item)
print(fruits)

{'pineapple', 'papaya', 'cherry', 'mango', 'banana'}

**58-Write a Python program to create an intersection,union,difference and symmetric difference of sets

In [ ]:
a = {7, 2, 3, 8 , 5, 6}
b = {2, 3, 7, 1, 4}

Intersection = a.intersection(b)
print("intersection = ", Intersection)
Union = a.union(b)
print("union = ", Union)
Diffrenece = a.difference(b)
print("difference = ", Diffrenece)
sym_Diffrenece = a.symmetric_difference(b)
print("symmetric_difference = ", sym_Diffrenece)

intersection =  {2, 3, 7}
union =  {1, 2, 3, 4, 5, 6, 7, 8}
difference =  {8, 5, 6}
symmetric_difference =  {1, 4, 5, 6, 8}

**59-Write a Python program to find the maximum and minimum values in a set

In [ ]:
h = {8, 16, 24, 1, 25, 3, 10, 65, 55}
print("maximum of set = ", max(h))
print("minimum of set = ", min(h))

maximum of set =  65
minimum of set =  1

**60- Write a Python program that finds all pairs of elements in a list whose sum is equal to a given value.

In [ ]:
x = [0,1,2,3,4,5,6,7,8,9,10]
sum_val = 4
for i in range(len(x)):
    pair = sum_val-x[i]
    if (pair) in x:
        print(f"pairs are = [{x[i]},{pair}]")

pairs are = [0,4]
pairs are = [1,3]
pairs are = [2,2]
pairs are = [3,1]
pairs are = [4,0]