# Iris

### Introduction:

This exercise may seem a little bit strange, but keep doing it.

### Step 1. Import the necessary libraries

In [150]:
import pandas as pd 
import datetime as dt 
import numpy as np

### Step 2. Import the dataset from this [address](https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data).

### Step 3. Assign it to a variable called iris

In [151]:
iris = pd.read_csv('https://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data')
iris.head()

   5.1  3.5  1.4  0.2  Iris-setosa
0  4.9  3.0  1.4  0.2  Iris-setosa
1  4.7  3.2  1.3  0.2  Iris-setosa
2  4.6  3.1  1.5  0.2  Iris-setosa
3  5.0  3.6  1.4  0.2  Iris-setosa
4  5.4  3.9  1.7  0.4  Iris-setosa

### Step 4. Create columns for the dataset

In [152]:
# 1. sepal_length (in cm)
# 2. sepal_width (in cm)
# 3. petal_length (in cm)
# 4. petal_width (in cm)
# 5. class
iris.columns = ['epal_length (in cm)' , 'sepal_width (in cm)', 'petal_length (in cm)', 'petal_width (in cm)','class']

### Step 5.  Is there any missing value in the dataframe?

In [153]:
iris.info()
# iris.isnull().value_counts()
#no null values

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 149 entries, 0 to 148
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   epal_length (in cm)   149 non-null    float64
 1   sepal_width (in cm)   149 non-null    float64
 2   petal_length (in cm)  149 non-null    float64
 3   petal_width (in cm)   149 non-null    float64
 4   class                 149 non-null    object
dtypes: float64(4), object(1)
memory usage: 5.9+ KB

### Step 6.  Lets set the values of the rows 10 to 29 of the column 'petal_length' to NaN

In [154]:
# iris.loc[10:30,:]['petal_length (in cm)'] = 0
# iris['petal_length (in cm)'].iloc[10:30] = 'Null'

iris.at[10:30,'petal_length (in cm)'] = 'NaN'
# iris.iloc[10:29,:]

C:\Users\Laptop_Academy\AppData\Local\Temp\ipykernel_4876\2759310263.py:4: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise an error in a future version of pandas. Value 'NaN' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  iris.at[10:30,'petal_length (in cm)'] = 'NaN'

### Step 7. Good, now lets substitute the NaN values to 1.0

In [155]:
# iris.fillna(value=1.0,inplace=True)
pd.set_option('future.no_silent_downcasting', True) # to opbtain old way in replace function 
iris.replace(to_replace='NaN',value=1.0,inplace=True)
iris.iloc[10:12,:]

,epal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm),class
10,4.8,3.4,1.0,0.2,Iris-setosa
11,4.8,3.0,1.0,0.1,Iris-setosa

### Step 8. Now let's delete the column class

In [156]:
iris.drop(columns='class',inplace=True)
iris.tail()

,epal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
144,6.7,3.0,5.2,2.3
145,6.3,2.5,5.0,1.9
146,6.5,3.0,5.2,2.0
147,6.2,3.4,5.4,2.3
148,5.9,3.0,5.1,1.8

### Step 9.  Set the first 3 rows as NaN

In [157]:
iris.iloc[0:3,:] = np.nan

### Step 10.  Delete the rows that have NaN

In [160]:
iris.dropna(inplace=True)

### Step 11. Reset the index so it begins with 0 again

In [162]:
iris.reset_index(drop=True)

,epal_length (in cm),sepal_width (in cm),petal_length (in cm),petal_width (in cm)
0,5.0,3.6,1.4,0.2
1,5.4,3.9,1.7,0.4
2,4.6,3.4,1.4,0.3
3,5.0,3.4,1.5,0.2
4,4.4,2.9,1.4,0.2
...,...,...,...,...
141,6.7,3.0,5.2,2.3
142,6.3,2.5,5.0,1.9
143,6.5,3.0,5.2,2.0
144,6.2,3.4,5.4,2.3
145,5.9,3.0,5.1,1.8

### BONUS: Create your own question and answer it.